

/*******************Default Section*************/


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
}
img{
    display: block;
    max-width: 100%;
}

body{
    font-family: 'Montserrat', 'Open Sans', sans-serif;
    font-size: 15px;
    color: #fff;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
.container{
    width: 1100px;
    margin:0 auto;
}


/*******************Header Section*************/


header{padding: 30px 0;}
header .row{
    align-items: center;
}
.logo{
    max-width: 30%;
    flex-basis:30%;
}
.logo a{text-transform: uppercase;font-size: 30px;font-weight: 700;color: #28377e;}
nav{
    max-width: 70%;
    flex-basis:70%;
}
nav ul{
    justify-content: flex-end;
}
nav ul li{}
nav ul li a{text-transform: uppercase;font-size: 14px;font-weight: 600;color: #204f87;padding: 0 14px;display: block;}
nav ul li a:hover{color: #F1642B;}


/*******************Banner Section*************/

.banner-section{
    position: relative;
    overflow: hidden;

}
.banner-orange{
    position:absolute;
    top: 0;
    left:0;
    max-height: 500px;
   }

.downArrow a{
    color: #fff;
}

.downArrow{
    position: absolute;
    font-size: 20px;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: downArrow;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes downArrow{
    0%{
        bottom: 80px;
    }
   
     50%{
        bottom: 40px;
    }
     100%{
        bottom: 80px;
    }
}
/*.bounce {
    animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}*/

.banner-content{
   position: absolute;
   top: 50%;
   left: 50%;
   max-width: 800px;
   transform: translate(-50%, -50%);
   text-align: center;
}
.banner-content h1{
    font-size: 70px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
}


/*******************What We Are Section*************/


.whoweare-section{
  
    padding: 120px 0 120px;
}

.whoweare-section .row{
    justify-content: space-between;
}

.whoweare-content{
    max-width: 55%;
    flex-basis: 55%;
   
}

.heading{}
.heading span{
    width: 65px;
    height: 5px;
    background-color: #f2622c;
    display: block;
}
.heading h2{
    color: #28377E;
    margin: 24px 0 30px 0;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
}
p{font-size: 14px;color: #b0b0b1;margin-bottom: 30px;}
.whoweare-img{max-width: 30%;flex-basis: 30%;}
.whoweare-img img{}


/*******************What We Do Section*************/


.whatwedo-section{
    background-color: #f7f8f8  ;
    padding: 80px 0 120px;

    background-image: url(../images/whatwedo_background.png);
    background-repeat: no-repeat;
    background-position: bottom right;
   
}
.whatwedo-section .heading{text-align: center;margin-bottom: 70px;} 
.whatwedo-section .heading span{margin: auto;}
.whatwedo-section .heading h2{}

.whatwedo{max-width: 33.33%;flex-basis: 33.33%;padding: 0 10px;}
.whatwedo-content{position: relative;}
.whatwedo-content h2{
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    position: absolute;
    top: 50%; 
    right: 0;
    z-index: 1;
    text-align: center;
    transform: translateX(50%);
    transition: all 0.6s;
    opacity: 0;
  }

.whatwedo-content:hover h2{
opacity: 1;
right: 50%;
width: 100%;
}
.whatwedo-content img{width: 100%;}
.whatwedo-content span{width: 100%;height: 40%;display: block;position: absolute;top: 0;left: 0; /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7db9e8+0,207cca+49,2989d8+50,2b2f85+75&0+0,0.75+82,0.75+82 */
 /* FF3.6-15 */
 /* Chrome10-25,Safari5.1-6 */
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 /* IE6-9 */
opacity: 0;
transition: all 0.6s ease;
background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(30, 86, 152, 0) 1%, rgba(32, 28, 78, 0.99) 97%, rgba(32, 28, 78, 1) 98%);
background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(30, 86, 152, 0) 1%, rgba(32, 28, 78, 0.99) 97%, rgba(32, 28, 78, 1) 98%);
background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(30, 86, 152, 0) 1%, rgba(32, 28, 78, 0.99) 97%, rgba(32, 28, 78, 1) 98%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001e5799', endColorstr='#201c4e', GradientType=0);
}
.whatwedo-content:hover span{
    opacity: 1;
    height: 100%;
}

.whatwedo-content a{
    position: absolute;
    color: #fff;
    bottom: 30px;
    left: 0%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
    font-size: 30px;
    opacity: 0;
    transition: all 0.6s;
}
.whatwedo-content a i{}
.whatwedo-content:hover a{
    left: 50%;
    opacity: 1;
    width: 100%;
}

/*******************Attorneys-section*************/

.attorneys-section{
    background-image: url(../images/attorneys_banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
}
.attorneys-heading{max-width: 33.33%;flex-basis: 33.33%;padding: 10px;padding-right: 80px;}
.attorneys-heading .heading h2{color: #fff;max-width: 250px;}
.attorneys-heading .heading span{}
.attorneys-heading .heading:hover span{}
.see-more{color: #F2622CA1;text-transform: uppercase;font-size: 18px;font-weight: 700;display: block;margin-top: 65px;}
.heading:hover a{color: #F2622C;}
.attorneys{max-width: 66.66%;flex-basis: 66.66%;padding: 10px;}
.attorney{max-width: 50%;flex-basis: 50%;padding: 10px;}
.attorney-content{position: relative;}
.attorney-content img{width: 100%;}
.attorney-content h2{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 35px;
    font-size: 24px;
    z-index: 1;
    transition: all 0.6s;
    opacity: 0;
}
.attorney-content:hover h2{
    opacity: 1;
    bottom: 50px;
}
.attorney-content span{width: 100%;height: 0;position: absolute;bottom: 0;left: 0;opacity: 0;transition: all 0.6s ease;background: -moz-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(30, 86, 152, 0) 1%, rgba(32, 28, 78, 0.99) 97%, rgba(32, 28, 78, 1) 98%);background: -webkit-linear-gradient(top, rgba(30, 87, 153, 0) 0%, rgba(30, 86, 152, 0) 1%, rgba(32, 28, 78, 0.99) 97%, rgba(32, 28, 78, 1) 98%);background: linear-gradient(to bottom, rgba(30, 87, 153, 0) 0%, rgba(30, 86, 152, 0) 1%, rgba(32, 28, 78, 0.99) 97%, rgba(32, 28, 78, 1) 98%);filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#001e5799', endColorstr='#201c4e', GradientType=0);}
.attorney-content:hover span{height: 60%;opacity: 1;}


/*******************Language Section*************/

.language-section{padding: 150px 0;}
.language-section .heading{
    text-align: center;
}
.language-section .heading span{
    margin: auto;
}
.languages{max-width: 25%;flex-basis: 25%;padding: 30px 12px;}
.languages h3{font-size: 24px;color: #28377E;text-transform: uppercase;font-weight: 600;margin-bottom: 25px;}
.languages p{}
.languages a{}
.languages:hover a{color: #F2622C;}


/*******************Contact Section*************/


.contact-section{background-color: #28377E;padding-top: 100px;}
.contact-section .heading{text-align: center;}
.contact-section .heading span{
    margin: auto;
}
.contact-section .heading h2{color: #fff;}
.contact-section .row{justify-content: center;}
.contact{max-width: 50%;flex-basis: 50%;text-align: center;padding-bottom: 100px;}
.contact input, .contact textarea{

    width: 100%;
    margin-bottom: 10px;
    border: 2px solid transparent;
    padding: 10px;
    border-bottom: 2px solid #3f4d8e;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.contact input[type="submit"]{

    width: auto;
    color: #fff;
    border: 1px solid #F2622C91;
    padding: 15px 85px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.6s;
    margin-top: 50px;
    background-color: #F2622c;
}

.contact:hover input[type="submit"]{background-color: #f2622cab;}

.footer{background-color: #0D1234;padding: 50px 0;}
.copyright{max-width: 50%;flex-basis: 50%;display: block;line-height: 3.5;}
.copyright p{margin: 0;color: #616ca8;}
.copyright p a{color: #F1612A;}
.social-icon{max-width: 50%;flex-basis: 50%;}
.social-icon ul{}
.social-icon ul li{}
.social-icon ul li a{color: #616ca8;display: block;margin: 15px;font-size: 18px;}
.social-icon ul li a:hover {color: #F1612A;}

.contact input:focus{
    outline: none;
    border: 2px solid #3f4d8e;
}
.contact textarea:focus{
    outline: none;
    border: 2px solid #3f4d8e;
}

::placeholder{
    color: #fff;
}






